#SKIN.bsd-event {
  display: flex;
  flex-direction: row-reverse; }
  #SKIN.bsd-event > .basic.container {
    width: 700px;
    background-color: white;
    padding: 20px 20px;
    margin-top: 50px; }
    #SKIN.bsd-event > .basic.container .bsd-page-header {
      overflow: visible !important; }
      #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content {
        display: flex;
        justify-content: space-between; }
        #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content h1 {
          text-shadow: none;
          font-size: 28px;
          letter-spacing: 1px;
          color: #36336c;
          margin-top: 0; }
        #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions {
          position: absolute;
          right: -26px;
          top: -78px; }
          #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions span.delimiter {
            display: none; }
          #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions a {
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            font-family: sans-serif;
            padding: 15px 20px;
            margin: 0;
            display: inline-block;
            margin-right: -4px; }
            #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions a:nth-child(1) {
              background-color: #91b2f8; }
              #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions a:nth-child(1):hover {
                color: #6190f5;
                background: #bbd2ff; }
            #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions a:nth-child(3) {
              background-color: #52bda5; }
              #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions a:nth-child(3):hover {
                color: #3d9f89;
                background-color: #77cbb8; }
            #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions a:nth-child(5) {
              background-color: #fb785e; }
              #SKIN.bsd-event > .basic.container .bsd-page-header .bsd-page-header-content div#account_actions a:nth-child(5):hover {
                color: #fa4e2c;
                background-color: #fca290; }
    #SKIN.bsd-event > .basic.container .bsd-page-content .ui-widget-header h2 {
      font-size: 24px;
      color: #36336c;
      margin-top: 35px;
      text-align: left;
      text-shadow: none;
      margin-bottom: 5px; }
    #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container {
      border: 1px solid lightgray;
      border-radius: 10px 10px 0 0;
      padding: 20px;
      background-color: whitesmoke; }
      #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform {
        width: 100%; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform tr#event_zip_row th, #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform tr#bsd-event-type-row th {
          text-align: left;
          font-size: 18px;
          font-weight: normal;
          font-family: sans-serif;
          padding-bottom: 22px; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform tr#event_zip_row td, #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform tr#bsd-event-type-row td {
          vertical-align: top; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform select[name='event_type_id'] {
          background-color: #36336b75;
          color: white;
          font-size: 18px;
          font-family: sans-serif;
          padding: 7px;
          font-weight: bold; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform tr#bsd-event-type-row td {
          position: relative; }
          #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform tr#bsd-event-type-row td:after {
            content: '\0025BC';
            color: white;
            position: absolute;
            right: 8px;
            top: 12px;
            font-size: 10px; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform td.button {
          padding-top: 10px; }
          #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform td.button input[type='submit'] {
            border-radius: 20px !important;
            border: 2px solid !important;
            height: 44px;
            background-color: transparent;
            font-family: sans-serif;
            font-weight: bold; }
            #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.firstform td.button input[type='submit']:hover {
              background-color: #36336c;
              color: white; }
      #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.typedesc {
        margin-top: 40px; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.typedesc tr th.typedescheader {
          padding-top: 20px;
          border-top: 1px solid;
          text-align: left;
          padding-bottom: 20px;
          font-family: sans-serif;
          font-size: 20px; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.typedesc tbody tr td, #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.typedesc tbody tr th {
          vertical-align: top;
          padding-bottom: 20px; }
        #SKIN.bsd-event > .basic.container .bsd-page-content .bsd-widget-inner-content form div.table_container table.typedesc tbody tr th {
          text-align: left;
          font-family: sans-serif;
          padding-right: 20px; }

/*# sourceMappingURL=stacey.css.map */
